<div class="contents row" >

  <%= form_for @student , :url => {:action => 'update'} do |f| %>


  <div class="field">
    <%= f.label :nickname %> <em>(30 characters maximum)</em><br />
    <%= f.text_field :nickname, autofocus: true, maxlength: "30" %>
  </div>

  <div class="field">
    <%= f.label :grade %> <br />

  <%= f.collection_select :grade, Grade.all, :id, :grade %>

  <div class="field">
    <%= f.label :university %> <br />

  <%= f.collection_select :university_id, University.all, :id, :name %>

  <div class="field">
    <%= f.label :category1 %> <br />

    <%= f.collection_select :category1, Category.all, :id, :name %>

  <div class="field">
    <%= f.label :category2 %> <br />

    <%= f.collection_select :category2, Category.all, :id, :name %>

  <div class="field">
    <%= f.label :category3 %> <br />

    <%= f.collection_select :category3, Category.all, :id, :name %>

  <div class="field">
    <%= f.label :favorite1 %> <br />

    <%= f.collection_select :favorite1, Feature.all, :id, :content %>

  <div class="field">
    <%= f.label :favorite2 %> <br />

    <%= f.collection_select :favorite2, Feature.all, :id, :content %>

  <div class="field">
    <%= f.label :favorite3 %> <br />

    <%= f.collection_select :favorite3, Feature.all, :id, :content %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
  <%= f.label :password %>
  <% if @validatable %>
  <em>(<%= @minimum_password_length %> characters minimum)</em>
  <% end %><br />
  <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "update" %>
  </div>


  <% end %>

</div>
