<%#全体の表示%>
<!DOCTYPE html>
<html>
  <head>
    <title>Gakucir</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Unica+One::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>

  <body>
    <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">Gakucir</a></h1>
      <% if student_signed_in? %>
        <div class="user_nav grid-6">
         <span><%= current_student.nickname %>
            <ul class="user__info">
              <li>
                <a href="/students/<%= current_student.id %>">mypage</a>
                <a href="/students/<%= current_student.id %>/edit">mypageを編集</a>
                <a href="/events/">イベント一覧</a>
          <%= link_to "ログアウト", destroy_student_session_path, method: :delete %>
          </li>
            </ul>
          </span>
        </div>
      <% elsif circle_signed_in? %>
        <div class="user_nav grid-6">
         <span><%= current_circle.circlename %>
            <ul class="user__info">
              <li>
                <a href="/circles/<%= current_circle.id %>">mypage</a>
                <a href="/circles/<%= current_circle.id %>/edit">mypageを編集</a>
                <a href="/events/new">イベント投稿</a>
                <a href="/events/">イベント一覧</a>
                <a href="/students/">学生一覧</a>
          <%= link_to "ログアウト", destroy_circle_session_path, method: :delete %>
          </li>
            </ul>
          </span>
        </div>
      <% else %>
        <div class="grid-6">
          <%= link_to "個人でログイン", new_student_session_path, class: 'post' %>
          <%= link_to "団体でログイン", new_circle_session_path, class: 'post' %>
          <%= link_to "新規登録(個人)", new_student_registration_path, class: 'post' %>
          <%= link_to "新規登録(団体)", new_circle_registration_path, class: 'post' %>
        </div>
      <% end %>
    </div>
  </header>

    <%= yield %>

    <footer>
      <p>
        gakucir
      </p>
    </footer>
  </body>
</html>
